* {
    margin: 0;
    
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #a0a0b1;
    font-size: 16px;

  }
  ul {
    list-style: none;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #99918F;
    height: 12vh;
    font-size: 1.3vw;
  }
  .nav_list{
    display: flex;
    align-items: center;
    gap: 50PX;
    
  }
  .lien-logo img{
    width: 40%;
  }
 .musem-home{
    background:linear-gradient(to right bottom, 
    rgba(31, 33, 34, 0.174),
    rgba(40, 40, 40, 0.8)), url(image/background2.jpg);
    background-size: cover; 
    background-position:center; 
    height: 100vh; 
    width: 100%;
  }

 .script{
    font-size: 1.2em;
    line-height: 4rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 4em;
 }
 .script h1{
    font-family: 'poppins';
    font-size: 3em;
 }

 .script p{
    color: white;
    font-family: 'poppins';
    font-size: 1.5em;
 }

 .script button{
    margin-top: 30px;
    width: 6.5em;
    height: 2em;
    color: white;
    background-color: #000000;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 30px;
 }
  button:hover{
  background-color: #555;
  cursor: pointer;
 }
 .about{
  background:linear-gradient(to right bottom, 
  rgba(31, 33, 34, 0.174),
  rgba(40, 40, 40, 0.8)), url(image/backvedio.jpg);
    background-size: cover; 
    background-position:center; 
    height: 90vh; 
    width: 100%;
 }
 .script1{
   line-height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
 }
 .script1 h1{
    font-family: 'poppins';
    font-size: 3em;
    color:whitesmoke ;
    text-decoration: underline;
 }

 .script1 p{
  text-align: center;
    width: 50%;
    color: white;
    font-family: 'poppins';
    font-size: 1.5em;
 }

 .script1 button{
  text-align: center;
    margin-top: 30px;
    width: 8em;
    height: 6vh;
    color: black;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 30px;
 }
 .artiste{
  background:linear-gradient(to right bottom, 
  rgba(31, 33, 34, 0.174),
  rgba(40, 40, 40, 0.8)), url(image/artiste.jpg);
    background-size: cover; 
    background-position:center; 
    height: 100vh; 
    width: 100%;
 }
 .artiste h1{
    padding-top: 16px;
    color: #FFF;
    text-align: center;
    text-decoration: underline white;
    font-family: 'poppins';
    font-size: 2em;
 }
 .artiste button{
    margin: 50px 43%;
    width: 8em;
    height: 6vh;
    color: white;
    background-color: #000000;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 30px;
 }

  .card{
    display: flex;
    justify-content: center;
    gap: 8%;
    
  }
  .artiste-card{
    width: 16em;
    height: 20rem;
    border-radius: 20px;
    background: rgba(177, 155, 145, 0.88);
    box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin-top: 110px;
    
  }
  .artiste-card img{
    display: flex;
    justify-content: center;
    margin-left: 2em;
    height: 8em;
    width: 12em;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  .artiste-card h4{
    margin: 10px;
    color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  }
  .artiste-card p{
    margin: 10px;
    font-size: 14px;
    text-align: center;
  }
  .produit {
    background:linear-gradient(to right bottom, 
    rgba(31, 33, 34, 0.174),
    rgba(40, 40, 40, 0.8)), url(image/background22.jpg);
    background-size: cover;
    background-position: center;
    height: 160vh;
    width: 100%;
  }
  .produit h1{
    padding-top: 40px;
    color: #FFF;
    text-align: center;
    text-decoration: underline white ;
    font-family: 'poppins';
    font-size: 2em;
  }
   .pic img{
    margin-top: 30%;
    margin-left:20% ;
    width: 60%;
    height: 80%;
  }

  .container-images {
    display: grid;
    justify-content: center; 
    align-content: end;
    grid-template-columns: repeat(3, 1fr) ;
  }
  .produit button{
    margin-top: 7em;
    margin-left: 28.7em;
    width: 8em;
    height: 6vh;
    color: white;
    background-color: #000000;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 30px;
 }
 .produit button:hover{
  background-color: #a0a0b1;
 }
  .wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    background-color: #fff;
    
  }
  
  .question-answer__accordion > .answer {
    display: none;
  }
  
  .active > .answer {
    display: block;
    padding-bottom: 1.3rem;
    
  }
  
  .active img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
  }
  
  .accordion__wrapper {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    
  }
  
  .questions__accordions {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .question-answer__accordion {
    width: 350px;
    border-bottom: 1px solid #e8e8ea;
  }
  .title__accordion {
    font-size: 3rem;
    margin-top: 0px;
    color:  #99918F;
    font-family: 'poppins';
  }
  
  .title__question {
    font-size: 1.2rem;
    margin: 1.4rem 0rem;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .active h3 {
    font-weight: 700;
  }
  
  .question img {
    align-self: center;
  }

  .image__wrapper {
    position: relative;
    left: 50%;
    top: 20%;
  }
  footer {
    background-color: #333;
    color: #fff;
    height: 25vh;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.contact{
  display: flex;
  flex-direction: column;
  gap: 1EM;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin: 0;
}

.logo img{
  width: 10em;
}
.social-media{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    margin-right: 10px;
}

ul li a img {
    width: 30px;
    height: 30px;
}
.f{
  font-size: 0.8em;
  text-align: center;
  margin-top: 3em;
   
}
.burger{
  display: none;
}

@media screen and (max-width: 767px) {
   html{
    overflow-x: hidden;
  }

  body {
      font-size: 0.8em;
      overflow: hidden;
  }
  .wrapper{
    height: 110vh;

  }
  .title__question {
    font-size: 1.8rem;
    margin-top: 60px;
  }
  .answer {
   font-size: 25px;
    padding-bottom: 1.8rem;
    
  }
  .question-answer__accordion {
    width: 580px;
  }
  .image__wrapper img {
    width: 70%;
  }
  .image__wrapper {
    left: 50%;
    top: 4%;
  }
  .accordion__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 90%;
    top: 24%;
  }
  .burger{
    display: block;
  }
  .burger img{
    width: 50px;
    margin-right: 20px;
  }
  .musem-home{
    height: 70vh; 
    width: 100%;
  }
  .about{
      height: 80vh; 
      
   }
  .navbar {
      height: 10vh;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      position: relative;
  }
  .nav_list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #99918F;
    width: 100vw;
    height: auto;
    display: none;
    flex-direction: column;
    font-size: 1rem;
    padding: 2rem 0;
}

.nav_list.active {
    top: 100%;
    display: flex; /* Active state: displayed */
}
.lien-logo img {
      width: 12rem;
      padding-left: 20px;
  }
.script {
    width: 85vw;
    text-align: center;
   
  }
.script h1{
    color: beige;
    font-size: 10vw;
    
  }
.script p{
    font-size: 5vw;
    margin-top: 50px;
  }
  .script button{
    margin: 10% auto; 
    display: block; 
    width: 24VW; 
    height: 8vh;
    color: rgb(255, 255, 255);
    font-family: 'poppins';
    font-weight: bold;
    font-size: 3vw;
    
  }

  .script1{
    padding-top: 50PX;
    line-height: 3rem;
  }
    .script1 h1 {
        text-align: center;
        font-family: 'poppins';
        font-size: 8vw;
    }

    .script1 p {
        width: 70%; 
        color: white;
        font-family: 'poppins';
        margin: 50px auto;
        font-size: 5vw;
        
    }

    .script1 button {
        margin: 5% auto; 
        display: block; 
        width: 24VW; 
        height: 6vh;
        color: black;
        font-family: 'poppins';
        font-weight: bold;
        font-size: 3vw;
    }
    .artiste{
      height: 400%;
        height: 138vh; 
    }
    .artiste h1{
      padding-top: 16px;
      color: #FFF;
      text-align: center;
      text-decoration: underline white;
      font-family: 'poppins';
      font-size: 8vw;
   }
   .artiste button{
      margin:8% 38%;
      width: 24vw;
      height: 8vh;
      color: rgb(255, 255, 255);
      font-family: 'poppins';
      font-weight: bold;
      font-size: 4vw;
   }
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .artiste-card{
      width: 30em;
      height: 30rem;
      border-radius: 20px;
      background: rgba(177, 155, 145, 0.88);
      box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
      color: white;
      margin-top: 40px;
    }
    .artiste-card img{  
      margin-left: 5em;
      width: 20EM;
      height: 20em;
    }
    .artiste-card h4{
      
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    }
    .artiste-card p{
      margin: 10px;
      font-size: 20px;
      text-align: center;
    }

    .produit {
      height: 255vh;
    }

 .produit h1 {
      font-size: 6vw;
  }

  .pic img {
      margin-top: 10%;
      margin-left: 25%;
      width: 50%;
      height: 90%;
  }
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4em; 
    margin: 24px;
  }
  .container-images {
      grid-template-columns: 1fr ;
  }
  .produit button{
    margin-top: 4em;
    margin-left: 10.5em;
    width: 12em;
    height: 10vh;
    font-size: 1.8em;
 }
  footer {
      height: 40vh;
  }

  .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size:1.5em;
     
  }

  .contact, .social-media {
      text-align: center;
      margin-top: 1em;
  }

  .logo img {
      width: 10em;
      margin-top: 2em;
  }

  .f {
      margin-top: 1em;
  }
  
 
   





}

   